---
import { WordpressServices } from "../../data/wordpress";
interface Props {
  slug: string;
}
const {slug} = Astro.props;
const page = await WordpressServices.getPageBySlug(slug);
const nombres = page.acf.nombres_cta_3;
---

<section class="py-28 md:py-40">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-8 relative">
        <img class="absolute bottom-0 left-0 w-full lg:h-2/3 object-cover -z-1 rounded-3xl" src={page.acf.background_cta_3.url ? page.acf.background_cta_3.url : null} alt={page.acf.background_cta_3.description ? page.acf.background_cta_3.description : null}>
        <div class="bg-[--primary-color] font-montserrat text-white w-[90%] lg:w-1/2 px-8 py-8 lg:py-24 rounded-3xl translate-x-3 -translate-y-12 lg:translate-x-8 lg:-translate-y-8">
          <h2 class="uppercase font-bold text-3xl lg:text-5xl mb-8 text-center">{page.acf.titre_cta_3 ? page.acf.titre_cta_3 : null}</h2>
          <p class="text-xs lg:text-base mb-12 text-center lg:text-left lg:w-4/5">{page.acf.texte_cta_3 ? page.acf.texte_cta_3 : null}</p>
          <a data-aos="fade-up" data-aos-delay="300" class="bg-black block w-fit mx-auto lg:mx-0 font-montserrat text-xs md:text-lg font-semibold py-4 px-8 md:px-16 rounded-xl transition-all z-3" href="#contact">{page.acf.bouton_cta_3 ? page.acf.bouton_cta_3 : null}</a>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4 flex flex-col justify-end gap-4 lg:-translate-y-8">
        {nombres ? nombres.map((nombre) => (
          <div class="bg-[--secondary-color] text-center lg:text-left font-montserrat text-black rounded-xl py-8 px-10">
            <span class="uppercase font-bold text-3xl lg:text-4xl">{nombre.nombre}</span>
            <p class="text-lg lg:text-xl uppercase">{nombre.texte}</p>
          </div>
        )) : null}
      </div>
    </div>
  </div>
</section>