---
import { WordpressServices } from "../../data/wordpress";
interface Props {
  slug: string;
}
const {slug} = Astro.props;
const page = await WordpressServices.getPageBySlug(slug);

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("nom");
    const firstname = data.get("prenom");
    const email = data.get("email");
    const phone = data.get("telephone");
    const message = data.get("message");
    console.log(name + ' ' + firstname + ' ' + email + ' ' + phone + ' ' + message);
    
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}


---

<section id="contact" class="pt-20 pb-40 relative">
  <div class="container mx-auto">
    <span
      class="font-montserrat text-[--secondary-color] opacity-50 -z-1 absolute left-1/2 -translate-x-1/2 top-0 text-6xl lg:text-9xl font-bold uppercase"
      >{page.acf.gros_titre_contact ? page.acf.gros_titre_contact : null}</span
    >
    <div
      class="font-montserrat font-semibold text-2xl md:text-5xl text-center mb-20"
    >
      <Fragment set:html={page.acf.petit_titre_contact ? page.acf.petit_titre_contact : null} />
    </div>
    <div>
      <Fragment set:html={page.acf.shortcode_formulaire_contact ? page.acf.shortcode_formulaire_contact : null} />
    </div>
    <!-- <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 xl:col-span-6 xl:col-start-4">
        <iframe class="h-[900px] xl:h-[700px]" src="https://pages.lu/wordpress/contact/" frameborder="0" width="100%" height=""></iframe>
      </div>
    </div> -->
    <form id="contactForm" name="contact" method="POST" data-netlify=true>
      <div class="grid grid-cols-12 gap-4 font-montserrat font-semibold">
        <div class="col-span-12 lg:col-span-3 lg:col-start-4">
          <input
            class="bg-[--secondary-color] outline-none py-8 px-16 rounded-3xl w-full focus:border focus:border-[--primary-color] transition-all"
            type="text"
            id="nom"
            name="nom"
            placeholder="Nom"
            required
          />
        </div>
        <div class="col-span-12 lg:col-span-3">
          <input
            class="bg-[--secondary-color] outline-none py-8 px-16 rounded-3xl w-full focus:border focus:border-[--primary-color] transition-all"
            type="text"
            id="prenom"
            name="prenom"
            placeholder="Prénom"
            required
          />
        </div>
        <div class="col-span-12 lg:col-span-3 lg:col-start-4">
          <input
            class="bg-[--secondary-color] outline-none py-8 px-16 rounded-3xl w-full focus:border focus:border-[--primary-color] transition-all"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="col-span-12 lg:col-span-3">
          <input
            class="bg-[--secondary-color] outline-none py-8 px-16 rounded-3xl w-full focus:border focus:border-[--primary-color] transition-all"
            type="tel"
            id="telephone"
            name="telephone"
            placeholder="Téléphone"
            required
          />
        </div>
        <div class="col-span-12 lg:col-span-6 lg:col-start-4">
          <textarea
            class="bg-[--secondary-color] outline-none py-8 px-16 rounded-3xl w-full focus:border focus:border-[--primary-color] transition-all"
            id="message"
            name="message"
            placeholder="Message"
            rows="5"
            required></textarea>
        </div>
        <div class="col-span-12 lg:col-span-2 lg:col-start-6 mt-16">
          <button
            class="bg-[--primary-color] py-4 w-full text-white rounded-full sendBtn"
            type="submit"
            value="Envoyer">Envoyer</button>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- <script>
  // Initialisez Email.js avec votre service, modèle et utilisateur
  emailjs.init("user_your_emailjs_user_id");

  // Écoutez l'événement de soumission du formulaire
  document.getElementById("contactForm").addEventListener("submit", function (event) {
    event.preventDefault(); // Empêche l'envoi du formulaire traditionnel

    // Obtenez les valeurs des champs du formulaire
    var nom = document.getElementById("nom").value;
    var prenom = document.getElementById("prenom").value;
    var email = document.getElementById("email").value;
    var telephone = document.getElementById("telephone").value;
    var message = document.getElementById("message").value;

    // Préparez les données à envoyer
    var data = {
      nom: nom,
      prenom: prenom,
      email: email,
      telephone: telephone,
      message: message,
    };

    // Utilisez Email.js pour envoyer l'e-mail
    emailjs.send("default_service", "template_id", data)
      .then(function (response) {
        console.log("Email envoyé avec succès :", response);
      })
      .catch(function (error) {
        console.log("Erreur lors de l'envoi de l'e-mail :", error);
      });
  });
</script> -->