---
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import { WordpressServices } from "../data/wordpress";
interface Props {
  title: string;
  siteName: string;
  ga4: string;
}

const { title, siteName, ga4 } = Astro.props;
const page = await WordpressServices.getPageBySlug(title);

const primaryColor = page.acf.couleur_principale;
const secondaryColor = page.acf.couleur_secondaire;
const ga4Head = page.acf.ga4_id;
const description = page.acf.description;
console.log(ga4);

---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <!-- Google Tag Manager -->
	<script id="gtm" data-info={ga4} is:inline>
    const ga4ID = document.getElementById('gtm').getAttribute("data-info");
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', ga4ID);
	</script>
	<!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{siteName}</title>
  </head>
  <body
    style={{
      "--primary-color": primaryColor,
      "--secondary-color": secondaryColor,
    }}
    class="overflow-x-hidden"
  >
  <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src=`https://www.googletagmanager.com/ns.html?id=${ga4}` height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <slot />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
    <script is:inline src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script is:inline type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('zw52-0nYyBV7Z6vNm');
        })();
    </script>
    <script is:inline src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>