---
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import { WordpressServices } from "../data/wordpress";
interface Props {
  title: string;
  siteName: string;
}

const { title, siteName } = Astro.props;
const page = await WordpressServices.getPageBySlug(title);
const primaryColor = page.acf.couleur_principale;
const secondaryColor = page.acf.couleur_secondaire;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteName}</title>
  </head>
  <body
    style={{
      "--primary-color": primaryColor,
      "--secondary-color": secondaryColor,
    }}
    class="overflow-x-hidden"
  >
    <slot />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
  </body>
</html>